@media screen and (max-width: 768px) 
{ 

    img 
    {
        max-width: 100%;
        height: auto;
    }

    .structure{ 

        background-color: black;
        padding: 2px 20px;
        width: 50px;
    } 
    
    /* La balise de style "colonnes" nous sert ici a mettre en horizontale les colonnes écrit dans le HTML  */
    .colonne{
        position: absolute;
        padding-left: 1000px;
        width: 400px;
        right: 4px;
        text-transform: none;
        display: none;

        }
    
        /* balise de style qui s'occupe uniquement de la forme/style de la colonne */
    .box{
        background: rgb(199, 193, 193);
        width: 500px;
        height: 430px;
        text-transform: none;
        display: none;
        }
    
        a{
            color: white;
        
        }
    
        .structure2{
            margin-left: 50px;
            padding-bottom: 50px;
        }


        .truc{

            justify-content: space-around;
            text-align: right;
                }

        .verticale{
            width: 10px;
            flex-direction: column;

        }

}   
/* On utilise balise de style"structure" ici car l'on a besoin d'ajouter un fond noir derrière le texte dans l'header et aussi modifier la largeur du fond noir grâce au padding.  */
 .structure{ 

    background-color: black;
    padding: 2px 20px;
    margin-bottom: 5px;
    
} 

/* La balise de style "colonnes" nous sert ici a mettre en horizontale les colonnes écrit dans le HTML  */
.colonne{
    position: absolute;
    padding-left: 50px;
    padding-top: 5px;
    width: 400px;
    right: 4px;
    text-transform: none;
    }

    /* balise de style qui s'occupe uniquement de la forme/style de la colonne */
.box{
    background: rgb(199, 193, 193);
    width: 400px;
    height: 430px;
    text-transform: none;
    }

    a{
        color: white;
    
    }



    img 
    {
        max-width: 100%;
        height: auto;
    }

    .texte{
        text-align: center;
        margin-top: -30px;
    }
